body {
  background-image: url('../img/textil-background.jpg');
  text-align: center;
}

.header {

  height: 5em;
  display: inline-block;
  align-items: flex-end;
}

.body-container{

  background: rgba(30, 30, 30, 0.5);
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;


}

.input-group {
  width: 50%;
  opacity: .7;
  margin-top: 2%;
  margin-left: 25%;
}

.bs-example  div[class^="col"] {
	border: 1px solid white;
	background: #f5f5f5;

}

.col-xs-2 {
  height: 10em;
  width: 10em;
  margin-left: 1em;
}

.row{
  margin-bottom: 1em;
  margin-top: 1em;
}
